[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	name = Paulo Romeira
	email = paulo@pauloromeira.com
[github]
	user = pauloromeira
[diff]
	tool = vimdiff
[alias]
	co = checkout
	st = status
	unstage = reset HEAD --
	br = branch
	ci = commit
	pth = log --oneline --graph --decorate
	pthf = log --oneline --graph --decorate --pretty=format:'%h %ad %an  %s' --date=short
	root = rev-parse --show-toplevel
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
	status = always
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[credential]
	helper = cache --timeout=36000
[pull]
	ff = only
