[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule ".vim/vim-custom-snippets"]
	path = .vim/vim-custom-snippets
	url = https://github.com/pauloromeira/vim-custom-snippets.git
