[submodule "VimVundle"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "VimCustomSnippets"]
	path = .vim/custom-snippets
	url = https://github.com/pauloromeira/vim-custom-snippets
